/* CSS */
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: whitesmoke;
    margin: 0px;
}


#sidebar {
    padding: 0px !important;
    color: white;
    /* background-color: #0f0e47; */
    height: 100vh;
    overflow: hidden;
}

#content {
    background-color: whitesmoke;
    height: 100vh;
    overflow: scroll;
}

/* Sidebar */
.logo {
    margin-top: 50px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 20px;
}

.menu {
    /* background-color: #0f0e47; */
    height: 90vh;
}

.mn {}

.mn::before {
    content: '';
    width: 50px;
    height: 100vh;
    background-color: #0f0e47;
    position: absolute;
    z-index: -1;
}

.mn::after {
    content: ' ';
    width: 100%;
    height: 100vh;
    background-color: #0f0e47;
    position: absolute;
    z-index: -1;
    right: 0px;
}

.menu-link {
    /* margin: 10px 0px; */
    background-color: #0f0e47;
    padding: 13px 0px 13px 10px;
    width: 100%;
    /* margin: 0px 0px 0px 10px; */
    /* text-align: center; */
}

.menu-link.active {
    /* position: absolute; */
    z-index: 1;
    background-color: whitesmoke;
    color: #0f0e47;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.menu-link::before {
    background-color: #0f0e47;
    width: 100%;
    height: 40vh;
    position: absolute;
    z-index: 1;
    left: 0px;
    bottom: 200px;
    padding: 0px;
    content: '';
    /* border-bottom-right-radius: 70px; */
}

.menu-link.menu-1 {
    /* border-bottom-right-radius: 40%; */
}

.menu-link.menu-2 {
    /* border-top-right-radius: 90px; */
    border-bottom-right-radius: 60%;
}

.menu-link.menu-3 {
    /* border-top-right-radius: 60%; */
}

.menu-link.menu-4 {
    border-top-right-radius: 60%;
}

.menu-link a {
    /* background-color: whitesmoke; */
    color: whitesmoke;
    /* padding: 15px; */
}

.menu-link.active a {
    color: #0f0e47;
}

.logout {
    height: 20vh;
    background-color: #0f0e47;
    padding: 0px;
}

.logout a {
    text-decoration: none;
    color: #fff;
}

.logout a:hover {
    text-decoration: underline;
}

/* Sidebar */

/* Top Menu */
.header {
    /* background-color: aqua; */
}

.top-menu {
    /* background-color: brown; */
    padding: 20px 20px;
}

.top-menu a {
    margin: 0px 5px;
    background-color: whitesmoke;
    padding: 10px 40px;
    color: #0f0e47;
    font-size: 14px;
    text-decoration: none;
    transition: 0.7s;
    border-radius: 10px;
}

.top-menu a:hover {
    padding: 10px 50px;
    background-color: #0f0e47;
    color: #fff;
    transition: 0.7s;
    border-radius: 10px;
    box-shadow: 1px 1px 16px #7777;
}

.top-menu a .ket-menu {
    display: inline;
}

.top-menu a .icon-menu {
    display: none;
}

.bottom-menu{
    display: none;
}



/* Nav Mobile */
.nav-mobile {
    display: none;
}

/* Profil */
.d-diri {
    padding: 20px;
    /* background-color: #0f0e47; */
}

.d-diri a {
    text-decoration: none;
    color: #0f0e47;
}

.img-profil {
    background-image: url(../images/avatar/empty.jpg);
    width: 50px;
    height: 50px;
    border-radius: 40px;
    overflow: hidden;
}

/* Top Menu */

/* Content */
/* c-banner */
.d-banner {
    padding: 20px;
}

.top-banner {
    padding: 15px 25px;
    color: #fff;
    overflow: hidden;
    background-image: url(../images/gallery/banner-1.jpg);
    background-size: cover;
    border-radius: 20px;
}

/* page-content */
.d-content {
    padding: 20px;
}

.page-content {
    background-color: whitesmoke;
    /* height: 60vh; */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 16px #7777;
}

.card-content{
    /* background-color: #0f0e47; */
    padding: 10px;
}

/* Content */

/* Quick Info */
.d-info {
    padding: 20px;
}

.card-info {
    color: #fff;
    padding: 20px 10px;
    background-color: #0f0e47;
    box-shadow: 1px 1px 16px #777;
    border-radius: 20px;
}

.d-history {
    padding: 20px;
}

.card-history {
    color: #fff;
    padding: 20px 10px;
    background-color: #777;
    box-shadow: 1px 1px 11px #777;
    border-radius: 20px;
}

.card-history li {
    list-style-image: url(../images/icon/svg/star.svg);
    /* width: 10px; */
}

/* BUtton */
.btn-b1{
    background-color: #0f0e47;
    width: 70%;
    color: whitesmoke;
    border-radius: 15px;
    transition: 0.7s;
}
.btn-b1:hover{
    transition: 0.7s;
    background-color: #101038;
    color: white;
}
.btn-b2{
    background-color: #ec5700;
    width: 100%;
    color: whitesmoke;
    border-radius: 15px;
    transition: 0.7s;
}
.btn-b2:hover{
    transition: 0.7s;
    background-color: #be4600;
    color: white;
}

/* Class Reponsive */
.desktop{
    display: inline;
}
.mobile{
    display: none;
}

/* Quick Info */

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Responsive */
@media screen and (min-width:1230px) {
    /* Begin::Dekstop */

}

/* @media screen and (min-width: 680px) and (max-width: 1229px) {
    Begin::tampilan tablet

} */

@media screen and (max-width:1229px) {

    /* Begin::Mobile */
    /* Class Reponsive */
    .desktop{
        display: none;
    }
    .mobile{
        display: inline;
    }
    #sidebar {
        position: absolute;
        top: -100vh;
        transition: 0.7s;
        z-index: 1031;
    }

    #sidebar.active {
        display: show !important;
        position: relative;
        top: 0px;
        transition: 0.7s;
    }

    .top-menu {
        /* background-color: brown; */
        display: none;
        padding: 15px 0px;
        background-color: #0f0e47;
        text-align: center;
    }

    .bottom-menu {
        display: inline;
        padding: 13px 10px;
        background-color: #0f0e47;
        text-align: center;
    }

    .bottom-menu a {
        background-color: whitesmoke;
        padding: 10px !important;
        color: #0f0e47;
        font-size: 24px;
        text-decoration: none;
        transition: 0.7s;
        border-radius: 10px;
    }

    .bottom-menu a:hover {
        /* padding: 10px 50px; */
        background-color: #0f0e47;
        color: #fff;
        transition: 0.7s;
        border-radius: 10px;
        box-shadow: 1px 1px 16px #7777;
    }

    .bottom-menu a.active{
        background-color: #ec5700;
        padding: 10px !important;
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        transition: 0.7s;
        border-radius: 10px;
    }

    .d-diri {
        display: none;
    }

    /* Nav Mobile */
    .nav-mobile {
        display: inline;
        padding: 20px;
        /* background-color: #0f0e47; */
    }
    
    .nav-mobile.scroll {
        display: inline;
        background-color: #0f0e47;
        color: white;
    }
    
    .nav-mobile.scroll a{
        color: white;
    }

    .menu-sidebar {
        color: #fff;
        background-color: #0f0e47;
        border: none;
        padding: 5px;
        width: 35px;
        height: 35px;
        border-radius: 40px;
    }

    #username a {
        color: #0f0e47;
        text-decoration: none;
    }

    /* sidebar close btn */
    .close-sidebar{
        top: 0px;
        position: absolute; 
        z-index: 1032;
    }
    .close-sidebar a{
        color: whitesmoke; 
        padding: 40px 10px;
    }

    .jarak-bottom-menu{
        margin-bottom: 10vh;
    }
}

/* END RESPONSIF */